<%= flash[:notice] %>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Steps</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
<div>
	<h4>Import data</h4>
	<%= form_tag import_users_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import CSV" %>
	<% end %>
</div>